body {
  background-color: #256F5C;
}
h2{
  font-family: 'K2D', sans-serif;
  color: #8FBB4B;
}
label{
  font-family: 'K2D', sans-serif;
}
section{
  border-radius: 10px;
  margin: 70px;
}
select {
  display: table;
}
#registro{
  background-color: #F2F2ED;
}
.slider{
  margin: 20px;
}
.btn{
  margin: 10px;
}
/* 082d4d */
/* F5F5EF */